@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


@theme {
    --font-poppins: "Poppins", sans-serif;


    --color-keyboard-background: oklch(96.8% 0.007 247.896);
    /* slate-100 */
    --color-background: oklch(26.9% 0 0);
    /* neutral-800 */
    --color-keycap: oklch(98.4% 0.003 247.858);
    /* slate-50 */
}

/* Creating a custom utility class using the @utility directive, these are used for single-purpose utilities */
@utility grid-14 {
    grid-template-columns: repeat(56, minmax(0, 1fr));
}